[submodule "charm-test-infra"]
	path = charm-test-infra
	url = git@github.com:openstack-charmers/charm-test-infra.git
[submodule "openstack-charm-testing"]
	path = openstack-charm-testing
	url = https://github.com/openstack-charmers/openstack-charm-testing
[submodule "rally"]
	path = rally
	url = https://github.com/openstack/rally
[submodule "openstack-bundles"]
	path = openstack-bundles
	url = https://github.com/openstack-charmers/openstack-bundles.git
