[submodule "repos/openstack-bundles"]
	path = repos/openstack-bundles
	url = https://github.com/openstack-charmers/openstack-bundles.git
[submodule "repos/charm-test-infra"]
	path = repos/charm-test-infra
	url = https://github.com/openstack-charmers/charm-test-infra
[submodule "repos/rally"]
	path = repos/rally
	url = https://github.com/openstack/rally
[submodule "repos/openstack-charm-testing"]
	path = repos/openstack-charm-testing
	url = https://github.com/openstack-charmers/openstack-charm-testing
